table{
    margin-left: auto;
    margin-right: auto;
    background-color: #adb5bd;
}

.bottom{
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}

th, td{
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

th{
    background-color: #e9ecef;
}

td.firstrow{
    background-color: #dee2e6;
}